__pycache__/*
src/configs/__pycache__/*
src/configurations/__pycache__/*
src/projects/__pycache__/*
src/projects/create/__pycache__/*
src/splashscreen/__pycache__/*
src/widgets/__pycache__/*
core/__pycache__/*
test.bat
Public/*
.vscode/*