*{
    margin: 0;
}

:root{
    --firstColor:#005f8b;
    --secondColor:#0282be;
    --thirdColor:#1E488F;
}

#NavBar {
    width: 100%;
    height: 80px;
    background-color: var(--firstColor);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid var(--thirdColor);
    /* coloca box shadow */
}

#textNavBar {
    color: #fff;
    text-indent: 10px;
    font-size: 30px;
}

#buttonNavBar {
    background-color: var(--firstColor);
    width: 70px;
    height: 70px;
    border: 0px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 1s;
}

#iconMenu {
    font-size: 50px;
    color: #fff;
}

#MenuBar{
    top: -100%;
    position: absolute;
    background-color: var(--secondColor);
    width: 100%;
    height: calc(100% - 82px);
    transition: 1s;
}